@media (max-width: 768px){
	.computer {
		display: none;
	}
	.tablet {
		display: block;
	}
	#text {
		width: 80%;
	}
	#text h1 {
		font-size: 30px;
		padding-left: 143px;
	}
	#text li {
		font-size: 25px;
	}
	#textone ul {
		font-size: 25px;
	}
	#text ul {
		margin-left: 203px;
		padding-left: 0px;
	}
	#text img {
		top: 44%;
		left: -41%;
		width: 78%;
	}
}
@media (max-width: 425px){
	#text h1 {
		font-size: 20px;
		padding-left: 93px;
	}
	#text li {
		font-size: 15px;
	}
	#text ul {
		margin-left: 23px;
		padding-left: 0px;
	}
	#textone ul {
		font-size: 15px;
	}
	#text img {
		position: relative;
		top: 0;	
	}
}
@media (min-width: 1200px){
	
	
}

