@media (max-width: 768px){
	.computer {
		display: none;
	}
	.tablet {
		display: block;
	}
	#heading h1 {
		font-size: 30px;
	}
	#textmain_1 {
		width: 100%;
	}
	#textmain_1 p {
		font-size: 25px;
	}
	#textmain_2 p {
		font-size: 25px;
	}
	#textmain_3 {
		width: 100%;
	}
	#textmain_3 p {
		font-size: 25px;
	}
	#img_1 {
		position:relative;
		width:80%;
		left: -17%;
		top:-1%;
	}
	#img_3 {
		display: none;
	}
}
@media (max-width: 425px){
	#heading h1 {
		font-size: 20px;
	}
	#textmain_1 {
		width: 100%;
	}
	#textmain_1 p {
		font-size: 15px;
	}
	#textmain_2 p {
		font-size: 15px;
	}
	#textmain_3 p {
		font-size: 15px;
	}
	#green2 {
		margin-top: 10px;
	}
	#textone {
		width: 100%;
		gap: 1%;
	}
	#img_1 {
		width: 116%;
		left: -4%;
		top: 0%
	}
}
@media (min-width: 1200px){
	
	
}

