#head_title{
	overflow-wrap: break-word;
	width: 60%;
	color:#B2914D;
	text-transform: uppercase;
}
#head_title h3{
	font-size:30px;
}
#head_title h1{
	font-size:50px;
}
#textone{
	flex-direction:column;
}
#maintext{
	font-size: 40px;
	width:80%;
}
#text2{
	color: white;
	background-color:#94B095;
}
#image{
	position: absolute;
	z-index: 2;
	top: 30%;
	left: 63%;
	width: 30%;
}
#image img {
	width: 100%;
}
p{
	width:80%;
	padding: 1%;
}